{% if groceryitem_list %}
	<ul>
	{% for groceryitem in groceryitem_list %}
		<li>
			<a href="{{groceryitem.id}}/">{{groceryitem.task_name}}</a>
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p>No Item has been added for groceries.</p>
{% endif %}
